- flash.each do |key, value|
  div[class="alert alert-#{alert_class_by_type(key)} alert-dismissible fade show" role="alert"]
    = value
    button.btn-close[type="button" data-bs-dismiss="alert" aria-label="Close"]
